body{
    background-size: cover;
    background-position: center;
    font-family: 'Passions Conflict', cursive;
    
}
.heading
{
font-size: 28px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 22px;
}
canvas{
    box-shadow: 10px 10px 10px lightskyblue;
    border-radius: 10px;
}
